@use '../01-settings/' as *;
@use '../02-tools/' as *;

.btn-whatIsBmi {
    position: relative;
    top: -16rem;
    left: -14.6rem;
    background-color: rgba(102, 102, 62, 0.703);
    color: rgb(224, 237, 163);
    border-radius: .5rem;
    border-style: none;
    // border: 1px solid red;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.btn-result, .btn-clear {
    width: 15rem;
    height: 3rem;
    margin-top: 2rem;
    background-color: $color-green;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2rem;
    color:rgb(4, 4, 4);
    letter-spacing: .2rem;
    border-radius: 3rem;
    border-style: none;
    box-shadow: rgba(8, 8, 8, 0.35) 0 .5rem 1rem;
    
    &:hover{
        background-color: rgb(182, 248, 193);
        cursor: pointer;
    }

    @include medium {
        width: 20rem;
        height: 4rem;
    }
}

.btn-clear {
    width: 9rem;
    height: 2.5rem;
    font-size: 1.6rem;

    @include medium {
        width: 14.5rem;
        height: 3.3rem;
    }
}