@use '../01-settings/' as *;
@use '../02-tools/' as *;

 #calc, .whatIsBmi, .howToCalculate, .standards {
     position: absolute;
     height: 40rem;
     width: 30rem;
     padding: 2rem;
     background-color: rgba(50, 52, 63, 0.256);
     border-radius: 1.5rem;
     box-shadow: rgba(10, 10, 10, 0.48) 10px 4px 16px 0px, rgb(27, 30, 36) -10px 4px 16px 0px;
    // z-index: -2;
    // border: 1px solid green;
     @include medium {
         width: 43rem;
         text-align: center;
     }
 }

//  .whatIsBmi {
//     // z-index: 2;
//     // border: 1px solid red;
    
// }

.img-weight1,
.img-weight2 {
    position: absolute;
    width: 10rem;
    height: 20rem;
    top: 25rem;
    opacity: 0.8;
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
    filter: drop-shadow( -5px -5px 5px rgb(0, 0, 0) );
    z-index: 3;
}

.img-weight1 {
    left: -4.2rem;
    background: url('../assets/img/weight1.png') center/cover no-repeat;
    background-size: 8rem;

    @include medium {
        background-size: 10rem;
    }
}

.img-weight2 {
    right: -4.2rem;
    background: url('../assets/img/weight2.png') center/cover no-repeat;
    background-size: 6rem;


@include medium {
    background-size: 8rem;
}
}