@use '../01-settings/' as *;
@use '../02-tools/' as *;


.display {
    display: none;
}

.hide {
    opacity: 0;
}

#result {
    transition: opacity 3s;
}

.result {
    font-size: 2.8rem;
    text-align: center;
    color: $color-green;
    text-shadow: 4px 2px 5px rgba(59, 167, 66, 0.679);
    // transition: opacity 1s;
}

.aboutBmi {
    margin-top: 2.5rem;
    font-size: 2.2rem;
    text-align: center;
    color: $color-green;
    text-shadow: 4px 2px 5px rgba(59, 167, 66, 0.679);

    @include medium {
        font-size: 2.6rem;
    }
}

#return {
    position: absolute;
    bottom: 13rem;
    left: 8rem;
    font-size: 1.8rem;
    color: rgb(234, 237, 192);
    cursor: pointer;

    @include medium {
        left: 14.5rem;
    }
}

.return {
    position: relative;
    left: -5rem;
    top: 18rem;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(234, 237, 192);

    @include medium {
        left: 7rem;
    }
}