
$color-green: rgba(120, 247, 175, 0.937);

$color-white: hsl(0, 0%, 100%);
$color-darkBlue: hsl(213, 19%, 18%);
$color-veryDarkBlue: hsl(210, 9%, 13%);

$font-base: 10px;

//breakpoints for RWD
$bp-md: 768px;
$bp-lg: 1240px;