@use '../01-settings/' as *;


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-veryDarkBlue;
    font-family: 'Englebert', sans-serif;
}