@use '../01-settings/' as *;

h1 {
   margin: 1.5rem 0 3.8rem 0rem;
   text-align: center;
   font-size: 2.5rem;
   color: $color-green;
   text-shadow: 4px 2px 5px rgba(59, 167, 66, 0.679);
   transition: opacity 1s;
}